# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Compied pythpn files
*.pyc

# editor backup files
*~
*.swp
*.swo

# known build directories
Math/Tests/Build
